table,
th,
td,
tr {
  border: 2px solid black;
  border-collapse: collapse;
  margin: auto;
}

img {
  width: 3em;
}

td {
  width: 13em;
  height: 5em;
  text-align: center;
}

th {
  height: 3em;
  font-size: larger;
  background-color: rgb(215, 228, 228);
}

@media only screen and (max-width: 300px) {
  td,
  th,
  tr {
    overflow: auto;
    display: block;
    border-collapse: collapse;
  }
}
